n8n-monday-integration.json
{
  "name": "Monday.com Integration Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "monday-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "monday-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.operation }}",
              "operation": "equals",
              "value2": "update_email"
            }
          ]
        }
      },
      "id": "email-operation-check",
      "name": "Check Email Operation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.operation }}",
              "operation": "equals",
              "value2": "search_items"
            }
          ]
        }
      },
      "id": "search-operation-check",
      "name": "Check Search Operation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 500]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.operation }}",
              "operation": "equals",
              "value2": "update_column"
            }
          ]
        }
      },
      "id": "column-operation-check",
      "name": "Check Column Operation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 700]
    },
    {
      "parameters": {
        "url": "https://api.monday.com/v2",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $env.MONDAY_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "mutation {\n  change_column_value(\n    board_id: {{ $json.boardId }},\n    item_id: {{ $json.itemId }},\n    column_id: \"email\",\n    value: \"{{ $json.email }}\"\n  ) {\n    id\n    name\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "monday-update-email",
      "name": "Monday.com Update Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "url": "https://api.monday.com/v2",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $env.MONDAY_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "query {\n  boards(ids: [{{ $json.boardId }}]) {\n    items {\n      id\n      name\n      column_values {\n        id\n        text\n        value\n      }\n    }\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "monday-search-items",
      "name": "Monday.com Search Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "url": "https://api.monday.com/v2",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $env.MONDAY_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "mutation {\n  change_column_value(\n    board_id: {{ $json.boardId }},\n    item_id: {{ $json.itemId }},\n    column_id: \"{{ $json.columnId }}\",\n    value: \"{{ $json.columnValue }}\"\n  ) {\n    id\n    name\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "monday-update-column",
      "name": "Monday.com Update Column",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 600]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Email updated successfully', data: $json } }}",
        "options": {}
      },
      "id": "email-response",
      "name": "Email Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Items found', data: $json } }}",
        "options": {}
      },
      "id": "search-response",
      "name": "Search Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Column updated successfully', data: $json } }}",
        "options": {}
      },
      "id": "column-response",
      "name": "Column Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 600]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, message: 'Invalid operation specified' } }}",
        "options": {}
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 800]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Check Email Operation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Search Operation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Column Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Email Operation": {
      "main": [
        [
          {
            "node": "Monday.com Update Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Search Operation": {
      "main": [
        [
          {
            "node": "Monday.com Search Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Column Operation": {
      "main": [
        [
          {
            "node": "Monday.com Update Column",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com Update Email": {
      "main": [
        [
          {
            "node": "Email Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com Search Items": {
      "main": [
        [
          {
            "node": "Search Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com Update Column": {
      "main": [
        [
          {
            "node": "Column Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "monday-integration",
      "name": "Monday.com Integration"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
} 