simple-chatbot-workflow.json
{
  "name": "Simple Monday.com Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "monday-chatbot-simple",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Chatbot Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "monday-chatbot-simple-webhook"
    },
    {
      "parameters": {
        "url": "https://mcp-server-for-mondaycom-dify-automation-production.up.railway.app/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "jsonrpc",
              "value": "2.0"
            },
            {
              "name": "id",
              "value": "1"
            },
            {
              "name": "method",
              "value": "tools/call"
            },
            {
              "name": "params",
              "value": "={{ { \"name\": \"monday_email_updater\", \"arguments\": { \"itemName\": \"1\", \"email\": \"test@example.com\" } } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "mcp-node",
      "name": "Call MCP Server",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-node",
      "name": "Chatbot Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Chatbot Webhook": {
      "main": [
        [
          {
            "node": "Call MCP Server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call MCP Server": {
      "main": [
        [
          {
            "node": "Chatbot Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-17T18:30:00.000Z",
  "versionId": "1"
}
